@import url('https://fonts.googleapis.com/css2?family=Arvo&family=DM+Sans:opsz@9..40&family=Ubuntu&family=Varela+Round&display=swap');
body{
    background-color: bisque ;
}

*{
    margin: 0%;
    padding: 0%;
}

a{
    color: #875004;
}

nav ul{
    display: flex;
    font-family: 'Varela Round', sans-serif;
    background-color: rgb(1, 1, 31);
    color: white;
    height: 60px;
    list-style-type: none;
    align-items: center;
    
}

nav ul li{
    padding: 0 23px;
}



.logo{
    display: flex;
    align-items: center;
    font-weight: bolder ;
    font-size: 1.5rem;
}

.logo img{
    width: 60px ;
    border-radius: 10rem;
    padding: 0 7px;
}

.container{
    min-height: 76vh;
    background-color: black;
    color: white;
    margin: 8px auto;
    width: 68vw;
    padding: 0 20px;
    border-radius: 12px;
    background-image: url(./12.png);
    background-size: 1090px 650px;

}

.containerFont{
    margin: 12px 0;
    font-weight: bolder ;
    font-size: 1.4rem;
}


.bottom{
    background-color: rgb(1, 1, 31);
    color: white;
    display: flex;
    height: 102px;
    align-items: center;
    justify-content: center;
    position: sticky;
    flex-direction: column;
    bottom: 0;
}


.myprogressbar{
    width: 80vw;
    cursor: pointer;
    
}

.icons{
    display: flex;
    margin-top:  5px auto;
    cursor: pointer;
    
}

.allSurahList{
    padding-top: 12px;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin-top: 12px;
    width: 100vw;
    width: auto;
    align-items: center ;
    
}
.SurahItem{
    background-color: rgba(220, 207, 183, 0.865);
    color: black;
    border-radius: 10px;    
    margin: 12px 0px;
    align-items: center;
    justify-content: space-between;
    display: flex;
height: 42px;


}

.SurahItem img{
    width:60px;
    border-radius: 12px;
    margin: 12px 15px;
}

.surahInfo{
   position: absolute;
   left: 10vw;
   font-family: 'Varela Round', sans-serif;
}



